In [1]:
import json
import pandas as pd
import requests

## Request data with a tailored STA query

In [2]:
sta_url = "https://eifelrur.earth-data.fz-juelich.de/FROST-Server/v1.1/"

In [16]:
request_url = f"{sta_url}Datastreams(5)?$expand=ObservedProperty($select=name,description)&$expand=Observations($select=result,resultTime)"
request_result = requests.get(request_url).json()

## Check the result

In [18]:
print(request_result["ObservedProperty"]["name"], request_result["ObservedProperty"]["description"])
print(request_result["Observations"].__len__())

Air temperature The temperature of the atmosphere expressed against the International Temperature Scale 1990 (ITS-90) standard.
1000

## Work with the result using, e.g., pandas

In [13]:
df = pd.json_normalize(request_result["Observations"])
df['result'] = df['result'].astype(float) # Convert to float
df['resultTime'] = pd.to_datetime(df['resultTime'], utc=True) # Convert to datetime

In [14]:
df

     result                resultTime
0       5.0 2024-01-30 22:20:00+00:00
1       4.9 2024-01-30 22:30:00+00:00
2       4.9 2024-01-30 22:40:00+00:00
3       4.8 2024-01-30 22:50:00+00:00
4       4.8 2024-01-30 23:00:00+00:00
..      ...                       ...
995    -4.7 2024-01-07 18:10:00+00:00
996    -4.8 2024-01-07 18:12:25+00:00
997    -4.9 2024-01-07 18:20:00+00:00
998    -5.0 2024-01-07 18:30:00+00:00
999    -4.9 2024-01-07 18:40:00+00:00

[1000 rows x 2 columns]

In [15]:
df.mean(numeric_only=True)

result    4.333
dtype: float64