In [1]:
import json
import pandas as pd
import requests

In [2]:
sta_url = "https://eifelrur.earth-data.fz-juelich.de/FROST-Server/v1.1/"

In [3]:
request_url = f"{sta_url}Datastreams(3)/Observations?$select=result,resultTime&$top=1000&$skip=1"
request_result = requests.get(request_url).json()

In [4]:
request_result["value"].__len__()

1000

In [5]:
df = pd.json_normalize(request_result["value"])

In [6]:
df

     result            resultTime
0     277.0  2024-01-30T22:30:00Z
1     276.0  2024-01-30T22:40:00Z
2     230.0  2024-01-30T22:50:00Z
3     249.0  2024-01-30T23:00:00Z
4     247.0  2024-01-30T23:10:00Z
..      ...                   ...
995    36.0  2024-01-07T18:12:25Z
996     7.0  2024-01-07T18:20:00Z
997    35.0  2024-01-07T18:30:00Z
998    20.0  2024-01-07T18:40:00Z
999    35.0  2024-01-07T18:50:00Z

[1000 rows x 2 columns]