In [11]:
import json
import pandas as pd
import requests

## Request data with a tailored STA query

In [12]:
sta_url = "https://eifelrur.earth-data.fz-juelich.de/FROST-Server/v1.1/"

In [13]:
request_url = f"{sta_url}Datastreams(3)/Observations?$select=result,resultTime&$top=1000&$skip=1"
request_result = requests.get(request_url).json()

## Check the result

In [14]:
request_result["value"].__len__()

1000

## Work with the result using, e.g., pandas

In [15]:
df = pd.json_normalize(request_result["value"])
df['result'] = df['result'].astype(float) # Convert to float
df['resultTime'] = pd.to_datetime(df['resultTime'], utc=True) # Convert to datetime

In [16]:
df

     result                resultTime
0     277.0 2024-01-30 22:30:00+00:00
1     276.0 2024-01-30 22:40:00+00:00
2     230.0 2024-01-30 22:50:00+00:00
3     249.0 2024-01-30 23:00:00+00:00
4     247.0 2024-01-30 23:10:00+00:00
..      ...                       ...
995    36.0 2024-01-07 18:12:25+00:00
996     7.0 2024-01-07 18:20:00+00:00
997    35.0 2024-01-07 18:30:00+00:00
998    20.0 2024-01-07 18:40:00+00:00
999    35.0 2024-01-07 18:50:00+00:00

[1000 rows x 2 columns]

In [22]:
df.mean(numeric_only=True)

result    227.979
dtype: float64